<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мои проекты</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container">
        <!--        <p class="navbar-brand"></p>-->
        <div class="btn-group">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left:50px;">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-item nav-link" th:href="@{main}">Главная страница</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-item nav-link active" th:href="@{projects}">Мои проекты</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br><br><br><br>
<div class="container">
    <div class="row">
<!--        Netcracker project-->
        <div class="col-md-6 text-center">
            <img src="img/profile+Schedule.jpg">
            <p>Профиль и расписание для проекта в Netcracker</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="img/tasks+Calendar.jpg">
            <p>Задания и расписание для проекта в Netcracker</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="img/snakeMain.jpg">
            <p>Главная страница змейки</p>
        </div>
<!--        Snake game-->
        <div class="col-md-6 text-center">
            <img src="img/snakeOptions.jpg">
            <p>Страниа настроек змейки</p>
        </div>
        <div class="col-md-6 text-center">
            <img src="img/snakeGame.jpg">
            <p>Процесс игры в змейку</p>
        </div>
    </div>
</div>


<br><br><br><br>

<script type="text/javascript" src="js/main.js"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>