<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/registration.css" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container">
        <div class="btn-group">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left:50px;">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-item nav-link" th:href="@{main}">Главная страница</a>
                </li>
            </ul>
        </div>
    </div>
    <form th:action="@{/login}" method="get">
        <button class="btn btn-light" type="submit">Вход</button>
    </form>
</nav>
<br><br><br><br>

<div class="container">
    <div class="row justify-content-between col-md-12">
            <div class="card col-md-6" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title" style='font-size:22pt'>Регистрация</h5>
                    <form th:action="@{/registration}" method="post">
                        <div style="color:red" th:if="${error}" th:text="${error}"></div>
                        <div class="form-group">
                            <label for="email" style='font-size:18pt'>Email</label>
                            <input type="email" class="form-control" id="email" name="email" required pattern
                                    ="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
                        </div>
                        <div class="form-group">
                            <label for="password" style='font-size:18pt'>Пароль</label>
                            <p style='font-size:12pt'>Пароль должен содержать заглавные и строчные латинские буквы, цифры</p>
                            <input type="password" class="form-control" id="password" name="password" required pattern
                                    ="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$">
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success btn-lg">Зарегистрироваться</button>
                        <input type="hidden" th:value="${_csrf.token}" name="_csrf">
                    </form>
                </div>
            </div>
        </div>
</div>

</body>
</html>